<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <link rel="shortcut icon" href="img/favicon.ico" type="image/x-icon">
    <title>Home</title>
</head>
<body>
        <div class="navbar">
            <div class="header-inner-content">
                <a href="home.php">
                    <h1 class="logo">Pu<span>zz</span>le</h1>
                </a>
                <a href="home.php" class="linkHomeMenu">
                    <img src="img/logo-2.png" alt="logo" class="logoFoto"></a>
                    <nav>
                        <ul>
                            <li><a href="home.php">HOME</a></li>
                            <li><a href="produtos.php">PRODUTOS</a></li>
                            <li><a href="sobre.php">SOBRE</a></li>
                            <li><a href="contato.php">CONTATO</a></li>
                            <li><a href="#" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">CONTA</a></li>
                        </ul>
                    </nav>
                    <div class="nav-icons-container">
                        <img src="./img/menu.png" alt="menu" class="menu-button">
                    </div>
            </div> 
        </div>
        <!-- Slideshow container -->
  <div class="container-slide">
    <div class="slideshow-container">
    <!-- Next and previous buttons -->
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
  </div>
  <br>
  <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
    <span class="dot" onclick="currentSlide(4)"></span>
  </div>
</div>

<secction class="cards">
  <div class="container-cards">
    <div class="card">
      <img src="img/css.png" alt="python-imagem">
      <h1>CSS</h1>
      <p>Python é uma linguagem de programação de alto nível, valorizada por sua simplicidade, legibilidade e vasta biblioteca padrão. Interpretada e multiplataforma, é ideal para iniciantes e profissionais, permitindo o desenvolvimento de uma ampla gama de aplicações, desde scripts simples até projetos complexos. Sua comunidade ativa contribui para sua constante evolução.
      </p>
      <button>VER MAIS &rarr;</button>
    </div>

    <div class="card">
      <img src="img/js.png" alt="js-imagem">
      <h1>JAVA SCRIPT</h1>
        <div class="texto">
          <p>JavaScript é uma linguagem de programação de alto nível, amplamente utilizada para desenvolvimento web. Ela permite interações dinâmicas em páginas da web, manipulando o conteúdo e o comportamento do navegador do usuário. É uma linguagem interpretada, executada no lado do cliente, e possui uma sintaxe flexível e poderosa.
          </p>
      </div>
      <button>VER MAIS &rarr;</button>
    </div>
    <div class="card">
      <img src="img/php.png" alt="html-imagem">
      <h1>PHP</h1>
      <p>PHP é uma linguagem de script de código aberto, amplamente usada para desenvolvimento web. Integra-se bem ao HTML e pode gerar conteúdo dinâmico. É fácil de aprender e suporta uma ampla gama de bancos de dados, tornando-o uma escolha popular para criar sites dinâmicos e aplicativos da web.
      </p>
      <button>VER MAIS &rarr;</button>
    </div>

    <div class="card">
      <img src="img/sql.png" alt="sql-imagem">
      <h1>SQL</h1>
      <p>SQL (Structured Query Language) é uma linguagem de programação usada para gerenciar e manipular bancos de dados relacionais. Permite a criação, consulta, atualização e exclusão de dados de forma eficiente, facilitando o armazenamento e recuperação de informações em sistemas de gerenciamento de banco de dados como MySQL, PostgreSQL e SQL Server.
      </p>
      <button>VER MAIS &rarr;</button>
    </div>
  </div>
</secction>
<footer>
  <div class="footer-container">
    <img src="img/logo-alt.png" alt="">
  </div>
</footer>
    <script src="js/home.js"></script>
    <script src="js/carrosel.js"></script>
</body>
</html>
