<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/home.css">
    <title>Home</title>
</head>
<body>
    <div class="navbar">
        <div class="header-inner-contet">
            <a href="home.php">
                <h1 class="logo">Pu<span>zz</span>le</h1></a>
            <a href="home.php" class="linkHomeMenu">
            <img src="img/logo-2.png" alt="logo" class="logoFoto"></a>
            <nav>
                <ul>
                    <li><a href="home.php">HOME</a></li>
                    <li><a href="produtos.php">PRODUTOS</a></li>
                    <li><a href="sobre.php">SOBRE</a></li>
                    <li><a href="contato.php">CONTATO</a></li>
                    <li><a href="#" onclick="document.getElementById('id01').style.display='block'" style="width:auto;">CONTA</a></li>
                </ul>
            </nav>

            <!--login-->
            
              <!--login-->
        </div>
    </div>

    <script src="js/home.js"></script>
</body>
</html>