<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recuperar Senha</title>
    <link rel="stylesheet" href="_css/Menu.css">
    <link rel="stylesheet" href="_css/footer.css"> 
    <link rel="stylesheet" href="./_css/recuperarSenha.css">
</head>
<body>
    <header class="Home">    
        <a href="Menu.html">
        <img src="_img/Logo-SemFundo.png" alt="foto" id="logo"/></a>
    </header>
    <div class="recuperarSenha-container">
        <h1>Recuperar Senha</h1>

        <form class="form" id="recuperarSenhaForm">
            <div class="container-dados">
                <label for="email"><b>Email</b></label>
                <input type="text" placeholder="Digite o seu email" name="email" id="email" required>
                    
                <button type="submit" id="but">Recuperar</button>
            </div>
        </form>
    </div>

    <script src="js/recuperarsenha.js"></script>
</body>
</html>
